.van-checkbox{
  margin-bottom: 10px;
}
.title{
  height: 30px;
  line-height: 30px;
  padding: 10px;
  font-size: 14px;
}
.lable-title:after {
  padding: 0 !important;
  border: 0 !important;
}