.email-list {
  font-size: 14px;
  color: #333;
  padding: 0 10px;
  .email-li {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
    .checkSingle {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      .van-checkbox__icon {
        line-height: 1.2em;
        .van-icon {
          font-size: 0.9em;
        }
      }
    }
    .email-img {
      width: 40px;
      height: 40px;
      font-size: 20px;
      color: #fff;
      background-color: #1492ff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .email-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 15px;
      .email-msg {
        height: 20px;
        display: flex;
        justify-content: space-between;
        line-height: 16px;
        height: 16px;
        .email-sender {
          color: #000;
          font-weight: bold;
          .reddot {
            display: inline-block;
            width: 8px;
            height: 8px;
            background-color: #f00;
            border-radius: 50%;
            vertical-align: middle;
            margin-bottom: 3px;
          }
          .attach {
            vertical-align: text-top;
          }
        }
        .email-time {
          .email-collect {
            z-index: -1;
            vertical-align: top;
          }
        }
      }
      .email-text {
        width: 270px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    .hasread {
      color: #666;
      .email-sender {
        color: #666 !important;
      }
      .email-time {
        color: #666 !important;
      }
    }
  }
}

.van-search__action {
  background: #1492ff;
  color: #fff;
  padding: 0 15px;
  margin: 0 5px;
}

.toNewEmail {
  background: rgb(20, 146, 255);
  border-radius: 50%;
  width: 23px;
  height: 23px;
  padding: 5px;
  border: 5px solid #c4e6ff;
}
.tabbar_img {
  width: 20px;
  height: 20px;
}
.search-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 56px;
  bottom: 50px;
}
.search-content{
  margin-top: 155px;
  margin-bottom: 50px;
}